<app-menu titulo="Creación de usuario"></app-menu>
<div class="wrapper">
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>Nuevo Usuario</mat-card-title>
            <mat-card-subtitle>Formulario de ficha</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="form">
                <mat-form-field>
                    <mat-select placeholder="Asignar rol" [formControl]="rolControl" required>
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let rol of rols" [value]="rol.value">
                            {{rol.viewValue}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="rolControl.hasError('required')">Porfavor, elige un rol.</mat-error>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <input matInput [(ngModel)]="newUser.name" placeholder="Nombre">
                </mat-form-field>
                <mat-form-field class="full-width">
                        <input matInput [(ngModel)]="newUser.surname" placeholder="Apellidos">
                </mat-form-field>
                <mat-form-field class="full-width">
                        <input matInput [(ngModel)]="newUser.dni" placeholder="Documento nacional de identidad">
                </mat-form-field>
                <mat-form-field class="full-width">
                    <input matInput type="email" placeholder="Correo electrónico" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
                    <mat-error *ngIf="emailFormControl.invalid">{{ getErrorMessage() }}</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input matInput [(ngModel)]="password" placeholder="Contraseña" [type]="hide ? 'password' : 'text'">
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                </mat-form-field>
                <mat-form-field>
                    <input matInput [(ngModel)]="password2" placeholder="Repite contraseña" [type]="hide ? 'password' : 'text'">
                </mat-form-field>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" (click)="createUser()">GUARDAR</button>
            <button mat-raised-button color="warn" (click)="reset()">RESETEAR</button>
        </mat-card-actions>
    </mat-card>
</div>