<mat-card class="login-card">
  <mat-card-header>
    <mat-card-title>Inicio sesión</mat-card-title>
    <mat-card-subtitle>Acceso a la aplicación HIS</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="form">
      <mat-form-field class="full-width">
        <input matInput type="email" placeholder="Correo electrónico" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
        <mat-error *ngIf="emailFormControl.invalid">{{ getErrorMessage() }}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="LoginPass" placeholder="Contraseña" [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="login()">Acceder</button>
  </mat-card-actions>
</mat-card>