<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>HIS Dashboard</span>
    <span class="spacer"></span>
    <button mat-icon-button color="warn" (click)="logout()">
      <mat-icon>power_settings_new</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="grid-container">
  <mat-list>
    <mat-list-item *ngIf="role === 'admin' || role === 'technical'">
      <button mat-raised-button color="primary" routerLink="/newUser">Crear Usuario</button>
    </mat-list-item>
    <mat-list-item *ngIf="role === 'admin' || role === 'doctor'">
      <button mat-raised-button color="primary" routerLink="/patients">Listado pacientes</button>
    </mat-list-item>
    <mat-list-item *ngIf="role === 'admin' || role === 'doctor'">
      <button mat-raised-button color="primary" routerLink="/histories">Listado historiales</button>
    </mat-list-item>
    <mat-list-item *ngIf="role === 'admin' || role === 'patient'">
      <button mat-raised-button color="primary" routerLink="/history/{{uid}}">Historial</button>
    </mat-list-item>
    <mat-list-item *ngIf="role === 'admin' || role === 'patient'">
      <button mat-raised-button color="primary" routerLink="/patient/{{uid}}">Ficha</button>
    </mat-list-item>
  </mat-list>
</div>